@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Master/_Layout.cshtml";
}
<head>
    <title></title>
    <link href="~/CSS/WebStyle.css" rel="stylesheet" />
</head>
<body>
    <div id="content" class="background"></div>
</body>

