<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->

    <target name="WindowLogFileTarget"
            xsi:type="File"
            layout="${message} ${newline}"
            fileName="${basedir}/Logs/DAE_Logs.log"
            archiveFileName="${basedir}/Logs/DAE_{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            keepFileOpen="true"
            concurrentWrites="true" />
  </targets>
  <!--layout="${defLogMessageLayout}"-->
  <rules>
    <!-- add your logging rules here -->

    <logger name="*" minlevel="Trace" writeTo="WindowLogFileTarget" />
  </rules>
</nlog>